# Игнорируем файлы, связанные с Git
.git
.gitignore

# Игнорируем виртуальное окружение Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Игнорируем файлы byte-code Python
*.pyc
*.pyo
__pycache__/

# Игнорируем логи
*.log

# Игнорируем файлы IDE
.idea/
.vscode/

# Игнорируем файлы операционной системы
.DS_Store
Thumbs.db

test/
task.db